<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="layout.css">
    <title>Layout</title>
</head>
<body>
    <header class ="header">
        <h2>This is the header of website</h2>
    </header>
    <nav class=" navbar"></nav>
    <main>
        <section>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem recusandae ut animi ad iure aspernatur magnam rem eaque nesciunt, nobis magni blanditiis quos illum sed nulla corporis alias dolor dignissimos!
        </section>
        <article>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus beatae consectetur doloribus temporibus nulla nemo, repellendus saepe voluptas minima sed nam suscipit molestiae quibusdam harum vel deleniti dolor voluptatibus eos!</article>
        <aside>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum qui temporibus a nostrum reiciendis autem dolore recusandae sed totam illo repudiandae officia aliquam tempora eveniet minima provident, nisi distinctio commodi.</aside>
    </main>

    <footer></footer>
</body>
</html>

<!-- 

   A website semantic is a website have a managed content properly.  



-->