
body {
    margin-left : 0px;
}
main {
    margin :40px;
}
header h1 {
    text-align: center;
    vertical-align: auto;

}
.navbar ul {
    background-color: black;
    list-style-type: none;
    padding : 0px;
    margin : 0px ;
    text-align: center; 
    overflow: hidden;
}
.navbar a {
    text-decoration: none;
    color : rgb(255, 255, 255) ;
    cursor: pointer;
    display :block  ;
    padding : 15px;
}
.navbar a:hover {
    background-color: rgb(122, 120, 120);
    transition: 0.3s;
}
.navbar li {
    float : left;
}
.navbar {
      justify-content: center;
}