.pagination a { 
  text-decoration: none;
  padding : 8px 15px;
  color : black;
}

.pagination {
    text-align: center;
}
.noww{
  background-color: greenyellow;
  border-radius: 10px;
  position : relative;
}
.pagination a:hover:not(.noww) {
  background-color: rgb(199, 197, 197);
}
.noww:hover {
  background-color: aqua;
  transform:scale(0,5);
}
.noww::after {
  content :"" ;
  position : absolute ;
  background-color: red;
  width : 0 ;
  height : 2px;
left :0px;
  bottom : -5px ; 
 transition: 0.3s;
}
.noww:hover::after {
  width : 100% ; 
}

/* Cần học thêm : 
   + Học cách sử dụng padding
   + text- align và vertical-align
   + ôn lại position
   + Có nhiều đoạn mình chưa thật sự hiểu và bị rối
*/